body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(images/latar.jpeg);
    font-family: cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
}

.container {
    margin: auto;
    width: 20%;
}

h1 {
    text-align: center;
}

form {
    background-color: yellow;
    padding: 10px; 
    border: red 5px;
    border-style: double;
    
}

button {
    margin-top: 15px;
    margin-left: 32%;
    padding: 10px 25px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: orangered;
    font-weight: bold;
    
}

button:hover {
    background-color: yellow;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: black;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}