body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  #card {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-card {
     background-image: url("bckgr.jpg"); 
    background-color: rgb(165, 136, 42);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    padding: 20px;
    border: 3px dashed #e07b39;
    border-radius: 10px;
    opacity: 0.85;
    color: #d94f04;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .profile-img {
    width: 75%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .chef-name {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fce00e; 
    margin-bottom: 15px;
  }
  
  .chef-description {
    font-size: 16px;
    color: #f4005a;  
    line-height: 1.5;
    font-weight: bold;
    background-color: aliceblue;
  }
  
  button {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    border:none;
    color: white;
  }
  
  button:hover {
    background-color: white;
    color: black;
    cursor:pointer;
  }